# System
.DS_Store
__pycache__/
*.pyc
*.pyo

# Virtual Env
venv/
.env

# Data & Models
datasets/
models/*.pt
models/*.onnx
models/*.bin
!models/.gitkeep
# runs/
# src/runs/
!src/runs/best.pt
!src/runs/chessboard_detection.pt

# Logs & Debug
*.log
debug_*.jpg
output_*.jpg

# Hugging Face
.cache/

# Exclude assets for deployment
assets/
